@import 'config';

body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    header{
        //flex: 0 1 20%;
        height: calc(50vh - (5em + 2vw));
        max-height: 230px;
        background: url(/images/pattern-bg.png);
        background-size: cover;
        background-position: center;

        .container{
            display: flex;
            flex-direction: column;
            width: 90vw;
            margin: 0 auto;
            text-align: center;
            position: relative;
            align-items: center;

            .title{
                color: $white;
                padding: 1em 0;
            }
            .ip-input{
                background: $white;
                border-radius: .8em;
                display: flex;
                overflow: hidden;
                position: relative;
                width: Min(100%, 500px);

                &>*{
                    border: none;
                    padding: .8em;
                }
                input{
                    flex-grow: 1;
                }
                button{
                    background: $dark;
                    color: $white;
                    aspect-ratio: 1/1;
                    display: grid;
                    place-items: center;
                }
            }
            .result{
                background: $white;
                position: relative;
                top: clamp(1em, 4vw, 2em);
                width: 100%;
                box-shadow: 0px 29px 100px -23px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 1em 0;
                z-index: 2;

                .tab{

                    .content{
                        padding: .5em 0;


                        .result-title{
                            margin-bottom: .7em;
                            color: $grey;
                        }
                        .data{
                            overflow-wrap: break-word;
                        }
                    }
                    
                }
                
            }
        }

    }
    .map{
        flex: 1 1 100%;
        background: $grey;
        //height: 180px;
        z-index: 1;
        
    }

    @media (min-width: 600px){

        header{
            .container{
                .result{
                    width: Min(80vw, 1100px);
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    //gap: 1em;

                    .tab{
                        min-width: 0;
                        //display: grid;
                        //grid-template-columns: repeat(auto-fit, auto);
                        // justify-content: space-around;
                        display: flex;
                        

                        .content{
                            text-align: left;
                            padding: .5em 2em;
                            padding: .5em clamp(1em, 2vw, 2em);
                            flex-grow: 1;
                            max-width: 100%;
                            

                        }
                    }
                    .tab:not(:last-child)::after{
                        content: "";
                        background: black;
                        //position: absolute;
                        display: block;
                        left: 0;
                        margin: auto 0 ;
                        height: 60%;
                        width: 1px;
                    }
                }
            }
        }
    }
}


